<div class="main-page">
    <h1>
      My Profile!
    </h1>
    <button
      mat-raised-button
      (click)="logoutUser()"
      style="margin-right: 10px;"
      color="primary"
    >
      Log Out
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="allMovies()"
      style="margin-right: 10px;"
    >
      All Movies
    </button>
    <mat-card>
        <mat-card-header>
          <mat-card-title>Edit User</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required
              >
              </mat-form-field>
              <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Password"
                type = "password"
                placeholder="Password"
                name="Password"
                required
              >
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Email"
                type = "email"
                placeholder="Email"
                name="Email"
                required
              >
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Birthday"
                type = "date"
                placeholder="Birthday"  
                name="Birthday"
              >
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
            <button
              mat-raised-button
              (click)="editUser()"
              color="primary"
            >
              Edit User
            </button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngFor="let movie of this.favoriteMovies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                color="primary"
                (click)="showGenreAlert(movie.Genre.Description)"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
                (click)="showDirectorAlert(movie.Director.Bio)"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
                (click)="showSynopsisAlert(movie.Description)"
            >
                Synopsis
            </button>
            <mat-icon *ngIf="!isFavorite(movie._id)" (click)="addToFavorites(movie._id)">favorite_border</mat-icon>
            <mat-icon *ngIf="!isFavorite(movie._id)" (click)="removeFromFavorites(movie._id)">favorite</mat-icon>

            <!-- <mat-icon
            (click)="addToFavorites(movie._id)">favorite_border</mat-icon> -->
        </mat-card-actions>
    </mat-card>

  </div>
